* {
  margin: 0px;
  padding: 0;
}


#recipe-image {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.title {
  color: rgb(255, 117, 34);
}

.video-responsive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  padding: 20px;
  width: 100vw;
  height: 300px;
}

.info-recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

#intructions {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 20px;
}

h2 {
  padding: 20px 0px;
  margin-left: 20px;
}

h1 {
  margin-left: 20px;
}

input {
  margin-left: 20px;
}

.start-recipe {
  color: white;
  font-size: 20px;
  background-color: rgb(255, 117, 34);
  width: 150px;
  height: 50px;
  bottom: 0;
  position: fixed;
  margin-right: 20%;

}

.container-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}